.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12%;
  }
  

 
  .btn--doar,.btn--doar2 {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Added for vertical centering */
    width: 193px;
    height: 275px;
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 90% 100%, 0% 100%);
    clip-path: polygon(0 0px, 100% 0, 100% 50%, 5% 100%, 0 100%);
    background-color: rgb(96, 183, 197);
    padding-bottom: 80px;
  font-weight: bold;
  font-size: 22px;
  margin-left: 75px;
  margin-top: 50px;
    color: #fff;
  }
  
.btn--doar2{
    top: 40px;
    margin-left: 25px;
    margin-right: 25px;
}
  
  .btn--doar:hover,
  .btn--doar2:hover {
    background-color: rgb(236, 100, 91);
    color: white;
  }
  .text-content{
    margin-left: 230px;
  }
  @media screen and (max-width: 768px) {
    .btn--doar, .btn--doar2 {
      width: 70%; /* Full width on small screens */
    }
  }
  @media (max-width: 768px) {
    .container2 {
      flex-direction: column; /* Stack items vertically on smaller screens */
    }
  
    .text-content {
      margin-left: 20px; /* Adjust margin as needed */
      text-align: left;
    }
  }

  

  .rhombus-image {
    width: 500px;
    height: 520px;
    margin-left: 22px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  .emp{
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

  .text-behind{
    position: absolute;
      top: 420%;
      left: 50%;
      transform: translate(-50%, -50%);

  }
  .text-behind img{
    width: 150px;
    margin-left: 100px;
    margin-top: 370px;
  }
.text-behind p{
    font-size: 25px;
    font-weight: 550;
    margin-left: 25px;
}

.text-behind button{
    background-image: linear-gradient(-180deg, #97240a 0%, #c8211e 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 50%;
  margin-left: 50px;
  height: 40px;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  margin-top: 7%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@media only screen and (max-width: 768px) {
  .text-behind {
    display: none; /* Hide the entire div on screens less than or equal to 768px */
  }
}

  .box{
    position: relative;
    background-color: rgb(224, 241, 243);
  padding: 5%;
  clip-path: polygon(0 0px, 100% 0, 100% 50%, 5% 100%, 0 100%);
  width: 45%;
  margin-left: 30%;
  height: 800px;

  }
  .text
  {
    text-align: center;
    font-weight: 700;
    font-size: 27px;
  }

  .logo{
    width: 17%;
    margin-left: 10%;
  }
/* CSS */
.button-43 {
  background-image: linear-gradient(-180deg, #97240a 0%, #c8211e 100%);
  margin-left: 12%;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 22%;
  height: 40px;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  margin-top: 7%;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-43:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}